@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Bold.ttf");
    font-weight: 800;
}
@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.ttf");
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    max-width: 1165px;
    margin: 0 auto;
    padding: 40px 0;
    position: absolute;
    width: 90%;
}
.header{
    &__wrap{
        display: flex;
        justify-content: space-between;
        &-logo{
            display: flex;
        }
    }
    &__elems{
        display: flex;
        align-items: center;


    }
    &__icons{
        display: flex;

        align-items: center;

    }
    &__btns{
        // display: flex;


        align-items: center;
    }
    &__search{
        margin-right: 80px;
    }


}
.btn{
    color: #fff;
    font-size: 14px;
    font-weight: 800;
    background-color: #156963;
    padding: 8px 33px;
    &__white{
        color:#156963;
        background-color: #fff;
    }
}


.main{
    position: absolute;
    padding: -10px auto;
    &__wrap{
        display: flex;
        gap: 77px;
    }
    &__texts{
        max-width: 523px;

    }
    &__title{
        color:#156963;
        font-size: 68px;
        font-weight: 500;
        margin-bottom: 24px;
    }
    &__text{
        color:#2C1500;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 110px;

    }
    &__hrt{
        
    }
}