@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1165px;
  margin: 0 auto;
  padding: 40px 0;
  position: absolute;
  width: 90%;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__elems {
  display: flex;
  align-items: center;
  position: relative;
  left: 200px;
}
.header__icons {
  display: flex;
  align-items: center;
}
.header__btns {
  align-items: center;
}
.header__search {
  margin-right: 80px;
}

.btn {
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  background-color: #156963;
  padding: 8px 33px;
  border: none;
}
.btn__white {
  color: #156963;
  background-color: #fff;
}

.main__wrap {
  display: flex;
  gap: 77px;
}
.main__texts {
  max-width: 523px;
}
.main__title {
  color: #156963;
  font-size: 68px;
  font-weight: 500;
  margin-bottom: 24px;
}
.main__text {
  color: #2C1500;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 110px;
  line-height: 32px;
}
.main__block{
  margin: 150px 0;
}

.header__wrap-logo{
  position: relative;
  margin-left: 56px;

}
.previous_arrow{
  display: flex;
  align-items: center;
}

.previous_arrow_btn{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 30px;

}
.main__btn-subtitle{
  font-size: 24px;
  font-weight: 500;
  color: #969c9c;
  font-family: Montserrat;
}
.main__btn-text{
  font-size: 32px;
  font-weight: 500;

}
.main__btns{
  display: flex;
  border: none;
  
}
.next_arrow{
  display: flex;
}
.btn_green{
  padding: 39px 49px;
}
.unit__text{
  max-width: 300px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
}
.green{
  display: flex;
  margin-bottom: 16px;
}
.main__unit{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50px;
  
}
.pic{
  position: relative;
  bottom: -17px;
  right: 5px;

}
.main__block1{
  margin-left: 40px;
  border: 1px solid #E0E0E0;
  padding: 20px 16px;

}
.main__text1{
  position: relative;
  top: 22px;
  max-width: 137px;
  color:#156963;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;

}
.main_plants{
  position: relative;
  top: 150px;
}
.main_plants_title{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_card{
  display: flex;
  gap: 20px;
  
  
}
.main_CardPlants{
  display: flex;
  justify-content: center;
  padding: 0 56px;
}
.main_pic_plants{
  margin-top: 24px;
  align-items: center;
  justify-content: center;
}
.main_plants_title_text{
  font-weight: 500;
  color:black;
  font-size: 20px;

}
.main_pic_card{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card_title{
  font-size: 16px;
  color:black;

}
.price{
  font-size: 16px;
  font-weight: 600;
}
.relaxed_main{
  margin-top: 300px;
  display: flex;
  justify-content: space-between;

}
.relaxed_title{
  width: 522px;
  font-size: 40px;
  font-weight: 700;
  color:#2C1500;
  margin-bottom: 16px;

}
.relaxed_text{
  width: 506px;
  font-size: 16px;
  color: #2C1500;
  line-height: 32px;

}
.relaxed1{
  margin-bottom: 74px;
}


.main_relaxed{
  margin-left: 58px;
  flex-direction: column;
  
}
.relaxed2{
  width: 513px;
  height: 620px;
  margin-right: 57px;
  margin-left: 200px;
}
.main_favorite{
  background-image: url('../img/BG_favorite.jpg');
  width: 1168px;
  height: 360px;
  padding: 88px 488px 88px 97px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-left: 150px;
  /* margin-left: 56px; */
  
}
.text_favorite{
  color: #2C1500;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  width: 585px;
  margin-bottom: 32px;
}

.fovorite_btn{
  background-color: #156963;
  padding: 10px 42px;
  color:#fff;
  font-size: 14px;
  font-weight: 700;
  border: none;
}


.main_footer{
  margin-top: 80px;

}
.line{
  display: flex;
  justify-content: center; 
  align-items: center;
}
.footer_block{
  display: flex;
  justify-content: center;
  padding-bottom: 71px;

}
.text_planktu{
  text-transform: uppercase;
  font-size: 24px;
  color: #156963;
  font-weight: 500;
  margin-top: 60px;
  margin-bottom: 24px;
  font-family: 'Poppins';

}
.text_planktu2{
  font-size: 16px;
  font-weight: 500;
  color:#333333;
  margin-bottom: 10px;
  font-family: 'Work Sans';

}
.text_planktu3{
  width: 282px;
  line-height: 20px;
  font-size: 13px;
  color:#4F4F4F;
  font-family: 'Work Sans';
}


.text_Perusahaan{
  color:#000;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Work Sans';
  margin-bottom: 20px;
  margin-top: 60px;
}
.text_Perusahaan2{
  color: #000;
  font-size: 14px;
  font-family: 'Work Sans';
  margin-bottom: 14px;
}
.Perusahaan{
  margin-left: 80px;
}
.email{
  margin-left: 80px;
  display: flex;
  flex-direction: column;
}
.email_button{
  display: flex;
}
.email_search{
  font-size: 12px;
  font-family: 'Work Sans';
  padding: 8px 188px 8px 13px;
}
.button_email{
  background-color: #156963;
  padding: 4px 12px;
  color:#fff;
  font-size: 8px;
  font-weight: 500;
  border: none;
  border-radius: 2px;
}
